<div class="d-flex align-items-center border-bottom" style="height: 50px; background-color: white;">
    <ul id='nav'>
        <li> <a routerLink="/new">New</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Dresses</a></li>
                        <li><a href='#'>Shoes</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Activewear</a></li>
                        <li><a href='#'>Underwear</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                        <li><a href='#'>Loungewear</a></li>
                        <li><a href='#'>Shoes</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Tailgate</div>
                        <li><a href='#'>Women's</a></li>
                        <li><a href='#'>Men's</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Women</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Categories</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Jeans</a></li>
                        <li><a href='#'>Dresses & Skirts</a></li>
                        <li><a href='#'>Loungewear & PJs</a></li>
                        <li><a href='#'>Match It Up</a></li>
                        <li><a href='#'>Jackets</a></li>
                        <li><a href='#'>Aerie Bras & Bralettes</a></li>
                        <li><a href='#'>Aerie Undies</a></li>
                        <li><a href='#'>Aerie Swimsuits</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'></div>
                        <li><a href="#">Shoes</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                        <li><a href='#'>Perfume</a></li>
                        <li><a href='#'>Home</a></li>
                        <li><a href='#'>Gifts & Tech</a></li>
                        <li><a href='#'>Clearance</a></li>
                        <li><a href='#'>Gift Cards</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Tailgate Fan Gear</div>
                        <li><a href='#'>Collection</a></li>
                        <li><a href='#'>College</a></li>
                        <li><a href='#'>MLB</a></li>
                        <li><a href='#'>NBA</a></li>
                        <li><a href='#'>NFL</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Featured</div>
                        <li><a href='#'>New Arrivals</a></li>
                        <li><a href='#'>Online Only</a></li>
                        <li><a href='#'>Your Must-Have Trends</a></li>
                        <li><a href='#'>Prep Rally</a></li>
                        <li><a href='#'>The Halloween Shop</a></li>
                        <li><a href='#'>Best-Sellers</a></li>
                        <li><a href='#'>The Uniform Shop</a></li>
                        <li><a href='#'>Real Good</a></li>
                        <li><a href='#'>Brands We Love</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Men</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Categories</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Jeans</a></li>
                        <li><a href='#'>Activewear</a></li>
                        <li><a href='#'>Loungewear</a></li>
                        <li><a href='#'>Jackets</a></li>
                        <li><a href='#'>Underwear</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                        <li><a href="#">Shoes</a></li>
                        <li><a href='#'>Colgne & Grooming</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'></div>
                        <li><a href='#'>Home</a></li>
                        <li><a href='#'>Gifts & Tech</a></li>
                        <li><a href='#'>Clearance</a></li>
                        <li><a href='#'>Gift Cards</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Tailgate Fan Gear</div>
                        <li><a href='#'>Collection</a></li>
                        <li><a href='#'>College</a></li>
                        <li><a href='#'>MLB</a></li>
                        <li><a href='#'>NBA</a></li>
                        <li><a href='#'>NFL</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Featured</div>
                        <li><a href='#'>New Arrivals</a></li>
                        <li><a href='#'>Online Only</a></li>
                        <li><a href='#'>Your Must-Have Trends</a></li>
                        <li><a href='#'>Prep Rally</a></li>
                        <li><a href='#'>The Halloween Shop</a></li>
                        <li><a href='#'>Best-Sellers</a></li>
                        <li><a href='#'>The Uniform Shop</a></li>
                        <li><a href='#'>Multipacks</a></li>
                        <li><a href='#'>Real Good</a></li>
                        <li><a href='#'>Game Always On</a></li>
                        <li><a href='#'>Brands We Love</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Jeans</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's Jeans</div>
                        <li><a href='#'>Mom Jeans</a></li>
                        <li><a href='#'>Jegging</a></li>
                        <li><a href='#'>High-Waisted Jeans</a></li>
                        <li><a href='#'>Curvy Jeans</a></li>
                        <li><a href='#'>90s Jeans</a></li>
                        <li><a href='#'>Flare Jeans</a></li>
                        <li><a href='#'>Loose Fit Jeans</a></li>
                        <li><a href='#'>Skinny Jeans</a></li>
                        <li><a href='#'>Tomboy Jeans</a></li>
                        <li><a href='#'>Bootcut Jeans</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'></div>
                        <li><a href='#'>Favorite Boyfriend Jeans</a></li>
                        <li><a href='#'>Jogger Jeans</a></li>
                        <li><a href='#'>Cropped Jeans</a></li>
                        <li><a href='#'>Overalls</a></li>
                        <li><a href='#'>Just Dropped</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's Jeans</div>
                        <li><a href='#'>Skinny Jeans</a></li>
                        <li><a href='#'>Slim Fit Jeans</a></li>
                        <li><a href='#'>Striaght Jeans</a></li>
                        <li><a href='#'>Athletic Fit Jeans</a></li>
                        <li><a href='#'>Bootcut Jeans</a></li>
                        <li><a href='#'>Relaxed Fit Jeans</a></li>
                        <li><a href='#'>Just Dropped</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's Jean Trends</div>
                        <li><a href='#'>Ne(x)t Level Stretch</a></li>
                        <li><a href='#'>Dream Jeans</a></li>
                        <li><a href='#'>Lu(x)e Jeans</a></li>
                        <li><a href='#'>Ripped Jeans</a></li>
                        <li><a href='#'>Light Wash Jeans</a></li>
                        <li><a href='#'>Medium Wash Jeans</a></li>
                        <li><a href='#'>Dark Wash Jeans</a></li>
                        <li><a href='#'>Black Jeans</a></li>
                        <li><a href='#'>Colored Jeans</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's Jean Trends</div>
                        <li><a href='#'>AirFlex 360</a></li>
                        <li><a href='#'>AirFlex+</a></li>
                        <li><a href='#'>Temp Tech Jeans</a></li>
                        <li><a href='#'>Move Free Jeans</a></li>
                        <li><a href='#'>Ripped Jeans</a></li>
                        <li><a href='#'>Light Wash Jeans</a></li>
                        <li><a href='#'>Medium Wash Jeans</a></li>
                        <li><a href='#'>Dark Wash Jeans</a></li>
                        <li><a href='#'>Black Jeans</a></li>
                        <li><a href='#'>Non Stretch Jeans</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Swimsuits</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Aerie Swimsuits</div>
                        <li><a href='#'>Bikini Tops</a></li>
                        <li><a href='#'>Bikini Bottoms</a></li>
                        <li><a href='#'>One Piece Swimsuits</a></li>
                        <li><a href='#'>Bikini Mix & Match</a></li>
                        <li><a href='#'>Swimsuit Cover Ups</a></li>
                        <li><a href='#'>Accessories</a></li>
                        <li><a href='#'>Clearance</a></li>
                        <li><a href='#'>Test</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>AE Swimsuits</div>
                        <li><a href='#'>Board Shorts</a></li>
                        <li><a href='#'>Swim Trunks</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Aerie</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'><img src="https://www.ae.com/assets/ae/logos/aerie.svg" alt="Aerie"
                                class="logo logo-aerie img-responsive qa-logo"></div>
                        <li><a href='#'>Bras & Bralettes</a></li>
                        <li><a href='#'>Undies</a></li>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Leggings</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Dresses & Skirts</a></li>
                        <li><a href='#'>Sleepwear</a></li>
                        <li><a href='#'>Swimsuits</a></li>
                        <li><a href='#'>Accessories & Shoes</a></li>
                        <li><a href='#'>Beauty</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>OFFL/NE</div>
                        <li><a href='#'>Leggings</a></li>
                        <li><a href='#'>Bike Shorts</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Sports Bras</a></li>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Skirts & Dresses</a></li>
                        <li><a href='#'>Undies</a></li>
                        <li><a href='#'>Swimsuits</a></li>
                        <li><a href='#'>Accessories & Shoes</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Shoes & Accessories</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's Shoes</div>
                        <li><a href='#'>Boots</a></li>
                        <li><a href='#'>Sneakers</a></li>
                        <li><a href='#'>Sandals</a></li>
                        <li><a href='#'>Clogs</a></li>
                        <li><a href='#'>Slippers</a></li>
                        <li><a href='#'>Flip Flops</a></li>
                        <li><a href='#'>Flats & Mules</a></li>
                        <li><a href='#'>Heels & Wedges</a></li>
                        <li><a href='#'>Brands We Love</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's Shoes</div>
                        <li><a href='#'>Boots</a></li>
                        <li><a href='#'>Slippers</a></li>
                        <li><a href='#'>Sneakers</a></li>
                        <li><a href='#'>Casual Shoes</a></li>
                        <li><a href='#'>Slide Sandals & Flip Flops</a></li>
                        <li><a href='#'>Brands We Love</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's Accessories & Socks</div>
                        <li><a href='#'>Socks</a></li>
                        <li><a href='#'>Hats</a></li>
                        <li><a href='#'>Belts & Bags</a></li>
                        <li><a href='#'>Jewelry</a></li>
                        <li><a href='#'>Hair Accessories</a></li>
                        <li><a href='#'>Sunglasses</a></li>
                        <li><a href='#'>Perfume</a></li>
                        <li><a href='#'>Home</a></li>
                        <li><a href='#'>Gifts & Tech</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's Accessories & Socks</div>
                        <li><a href='#'>Hats</a></li>
                        <li><a href='#'>Socks</a></li>
                        <li><a href='#'>Belts</a></li>
                        <li><a href='#'>Wallets & Bags</a></li>
                        <li><a href='#'>Sunglasses</a></li>
                        <li><a href='#'>Gifts & Tech</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li> <a href='#'>Clearance</a>
            <div class="d-flex justify-content-center mega-menu">
                <div class="column">
                    <ul>
                        <div class='column-header'>Women's Clearance</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Jeans</a></li>
                        <li><a href='#'>Dresses & Jumpsuits</a></li>
                        <li><a href='#'>Jackets</a></li>
                        <li><a href='#'>Shoes</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                        <li><a href='#'>Tailgate</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Men's Clearance</div>
                        <li><a href='#'>Tops</a></li>
                        <li><a href='#'>Bottoms</a></li>
                        <li><a href='#'>Jeans</a></li>
                        <li><a href='#'>Underwear</a></li>
                        <li><a href='#'>Shoes</a></li>
                        <li><a href='#'>Accessories & Socks</a></li>
                        <li><a href='#'>Tailgate</a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul>
                        <div class='column-header'>Tailgate Clearance</div>
                        <li><a href='#'>Collection</a></li>
                        <li><a href='#'>College</a></li>
                        <li><a href='#'>MLB</a></li>
                        <li><a href='#'>NBA</a></li>
                        <li><a href='#'>NFL</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>