<div class="container-fluid my-4 border-bottom">
    <span class="border-bottom"></span>
</div>
<div class="container-fluid d-flex flex-row">
    <div class="col border d-flex justify-content-center align-items-center mx-3 ms-5 p-3">
        <span class="fw-bold" style="font-size: small;">Want an Extra 25% off? </span>
        <span class="text-decoration-underline" style="font-size: small;" href="#">  Refer A Friend!</span>
    </div>
    <div class="col border d-flex justify-content-center align-items-center mx-3 me-5 p-3">
        <span class="fw-bold" style="font-size: small;">Let us know how were doing.</span>
        <span class="text-decoration-underline" style="font-size: small;" href="#"> Give feedback</span>
    </div>
</div>
<div class="container-fluid row m-4">
    <div class="col row-cols-3">
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Gift Cards</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Real Rewards</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Real Rewards Credit Cards</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Mobile App</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Blog: AE | Aerie</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Get It Fast</div>
    </div>
    <div class="col row-cols-3">
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Store Locator</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Track Order</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Sign Up for Email</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Sign Up For Texts</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Shoprunner: Free Two-Day Shipping</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Give Back Box</div>
    </div>
    <div class="col row-cols-3">
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Have a Question?</div>
        <div class="fw-bold mb-4"style="font-size: small;" href="#">Follow Us</div>
    </div>
</div>