<div>
    <video poster="https://s7d2.scene7.com/is/image/aeo/20210901-aehp-newarrivals-lg-1024x0-3000k?scl=1&amp;qlt=60"
        autoplay muted loop playsinline preload="auto">
        <source src="https://s7d2.scene7.com/is/content/aeo/20210901-aehp-newarrivals-lg-1024x0-3000k" type="video/mp4">
        Sorry, your browser does not support embedded videos.
    </video>
</div>
<div class="fade-in">
    <div class="new-arrivals-block">
        <div class="new-arrivals-header fw-bold">
            <span class="stretch">
                FALLING <br> FOR NEW <br> ARRIVALS
            </span>
        </div>
        <div class="new-arrivals-subheader fw-bold">
            <span>
                More new styles dropping every day!
            </span>
        </div>
        <div class="shop-btn">
            <a class=" btn new-arrivals-btn fw-bold" href="#">
                Shop Women
            </a>
            <a class=" btn new-arrivals-btn fw-bold" href="#">
                Shop Men
            </a>
        </div>
    </div>
</div>