<div class="col"></div>
<div class="col">
    <video poster="https://s7d2.scene7.com/is/image/aeo/20210901-aehp-newarrivals-lg-1024x0-3000k?scl=1&amp;qlt=60"
        autoplay muted loop playsinline preload="auto">
        <source src="https://s7d2.scene7.com/is/content/aeo/20210901-aehp-newarrivals-lg-1024x0-3000k" type="video/mp4">
        Sorry, your browser does not support embedded videos.
    </video>
    <div class="fade-in d-flex align-items-center">
        <div class="new-arrivals-block">
            <div class="new-arrivals-header fw-bold">
                <span class="stretch">
                    {{title}}
                </span>
            </div>
            <div class="new-arrivals-subheader fw-bold">
                <span>
                    {{subheader}}
                </span>
            </div>
            <div class="shop-btn">
                <a class=" btn-rounded new-arrivals-btn fw-bold" routerLink="/new-women">
                    Shop Women
                </a>
                <a class=" btn-rounded new-arrivals-btn fw-bold" routerLink="/new-men">
                    Shop Men
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col"></div>