<div class="navbar sticky-top p-0 row">
    <div class="container-fluid d-flex justify-content-center" style="height:50px;background-color: white;">
        <app-top-mega-menu>Loading top mega menu</app-top-mega-menu>
    </div>
    <div class="container-fluid d-flex justify-content-center" style="height:60px;background-color: #315470;">
        <app-promotion-banner>Loading promotion banner</app-promotion-banner>
    </div>
</div>

<div class="h4 container-fluid d-flex justify-content-center align-items-center" style="height:92px">Women's Jeans</div>
<div class="container-fluid" style="height:447px;background-color: rgb(196, 196, 196);">
</div>

<div class="container-fluid d-flex justify-content-center align-items-center text-center" style="height:203px;">
    <source srcset="//s7d2.scene7.com/is/image/aeo/20210630_W_JEANSCATBANNER_lg?scl=2&amp;qlt=60&amp;fmt=jpeg"
        media="(min-width: 768px)" type="image/jpeg">
    <source srcset="//s7d2.scene7.com/is/image/aeo/20210630_W_JEANSCATBANNER_sm?scl=2&amp;qlt=60&amp;fmt=jpeg"
        media="(max-width: 767px)" type="image/jpeg">
    <img src="//s7d2.scene7.com/is/image/aeo/20210630_W_JEANSCATBANNER_lg?scl=2&amp;qlt=60&amp;fmt=jpeg" alt="">
</div>
<div style="height: 43px;"></div>
<div class="container-fluid x-5">
    <div class="row">
        <div class="col-md-3 col-xs-12" style="background-color: violet;">
        </div>
        <div class="col-md-9 ps-4 pe-5">
            <div class="row text-primary mb-2 ps-3 pe-5" style="font-size: x-small;">Best Seller</div>
            <div class="row fw-bolder mb-1 ps-3 pe-5" style="font-size: larger;">Mom Jeans</div>
            <div class="row text-secondary mb-4 ps-3 pe-5" style="font-size: small;">Proof that she knows best.</div>
            <img src="//s7d2.scene7.com/is/image/aeo/20210630_BTS1_W_MOMJEAN_lg?scl=1&amp;qlt=60&amp;fmt=jpeg" alt="mom jean" class="img-fluid">
            <div style="height: 60px;"></div>
            <app-jeans-womens-products></app-jeans-womens-products>
        </div>
    </div>
</div>
<app-footer></app-footer>