<div class="navbar sticky-top p-0 row">
    <div class="container-fluid d-flex justify-content-center" style="height:50px;background-color: white;">
        <app-top-mega-menu>Loading top mega menu</app-top-mega-menu>
    </div>
    <div class="container-fluid d-flex justify-content-center" style="height:60px;background-color: #315470;">
        <app-promotion-banner>Loading promotion banner</app-promotion-banner>
    </div>
</div>

<div class="h4 container-fluid d-flex justify-content-center align-items-center" style="height:92px">Men's Jeans</div>
<div class="container-fluid" style="height:447px;background-color: rgb(196, 196, 196);"></div>

<div class="container-fluid d-flex justify-content-center align-items-center text-center" style="height:203px;">
    <picture>
        <source srcset="//s7d2.scene7.com/is/image/aeo/20210630_M_JEANSCATBANNER_sm?scl=2&amp;qlt=60&amp;fmt=jpeg"
            media="(max-width: 767px)" type="image/jpeg">
        <source srcset="//s7d2.scene7.com/is/image/aeo/20210630_M_JEANSCATBANNER_lg?scl=2&amp;qlt=60&amp;fmt=jpeg"
            media="(min-width: 768px)" type="image/jpeg">
        <img src="//s7d2.scene7.com/is/image/aeo/20210630_M_JEANSCATBANNER_lg?scl=2&amp;qlt=60&amp;fmt=jpeg" alt="">
    </picture>

</div>
<div style="height: 43px;"></div>
<div class="container-fluid x-5">
    <div class="row">
        <div class="col-md-3 col-xs-12" style="background-color: violet;">col</div>
        <div class="col-md-9 ps-4 pe-5">
            <div class="row text-primary mb-2 ps-3 pe-5" style="font-size: x-small;">Best Seller</div>
            <div class="row fw-bolder mb-1 ps-3 pe-5" style="font-size: larger;">Skinny Jeans</div>
            <div class="row text-secondary mb-4 ps-3 pe-5" style="font-size: small;">Skinny fits with no shortage of comfort.</div>
            <picture>
                <img class="img-fluid m-0"
                    src="//s7d2.scene7.com/is/image/aeo/20210630_BTS1_M_SKINNYJEAN_lg?scl=1&amp;qlt=60&amp;fmt=jpeg"
                    alt="skinny jeans">
            </picture>
            <div style="height: 60px;"></div>
            <div class="row mb-2">
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3 me-2" style="background-color:turquoise;"> col</div>
            </div>
            <div class="row mb-2">
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3 me-2" style="background-color:turquoise;"> col</div>
            </div>
            <div class="row mb-2">
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3" style="background-color:turquoise;"> col</div>
                <div class="col ms-3 me-2" style="background-color:turquoise;"> col</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>