<div class="navbar sticky-top p-0 row">
    <div class="container-fluid d-flex justify-content-center" style="height:50px;background-color: white;">
        <app-top-mega-menu>Loading top mega menu</app-top-mega-menu>
    </div>
    <div class="container-fluid d-flex justify-content-center" style="height:60px;background-color: #315470;">
        <app-promotion-banner>Loading promotion banner</app-promotion-banner>
    </div>
</div>
<div class="container-fliud">
    <div class="d-flex justify-content-center">
        <div class="row w-50 m-5">
            <h2>Create an Account</h2>
            <img src="./assets/Screen Shot 2021-10-28 at 2.24.38 PM.png">
            <h3 class="my-4">Account Details</h3>
            <app-account-form></app-account-form>
        </div>
    </div>
</div>