<div class="navbar sticky-top p-0 row">
    <div class="container-fluid d-flex justify-content-center" style="height:50px;background-color: white;">
        <app-top-mega-menu>Loading top mega menu</app-top-mega-menu>
    </div>
    <div class="container-fluid d-flex justify-content-center" style="height:60px;background-color: #315470;">
        <app-promotion-banner>Loading promotion banner</app-promotion-banner>
    </div>
</div>

<div class="col"></div>
<div class="col">
    <app-new-arivals-promo>Loading new arivals promo</app-new-arivals-promo>
</div>
<div class="col"></div>