/* You can add global styles to this file, and also import other style files */
@media all and (min-width: 992px) {
    
}
.btn-rounded{
    padding: 19px 19px;
    font-size: .85rem;
    line-height: .9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .7px;
    border-radius: 40px;
    display:inline-block;
    font-weight: 400;
    text-align:center;
    white-space: nowrap;
    vertical-align: middle;
    box-sizing: border-box;
}
span.stretch {
    display:inline-block;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
}
.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }